body{
    margin: 0;
    padding: 0;
    color: black;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow: break-word;
}
.capa{
    width: 100%;
    margin: 0 auto;
}
main{
    display: block;
    background-color: #fff;
}
.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}
h1,h2,h3,h4,h5,h5{
    font-weight: 900;
    color: #000;
}
section{
    margin-bottom: 40px;
}
section.modul:last-child{
    margin-bottom: 0;
}
section.module h2{
    margin-bottom:40px ;
    font-size: 30px;
}
section.module.content{
    padding: 40px;
    background-color: rgb(137, 183, 224);
}
section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section.module.parallax-1{
    background-image: url(https://images.unsplash.com/photo-1464823063530-08f10ed1a2dd?dpr=1&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=);
}